
body {
    margin: 0;
    padding: 0;
    border: 0;
}

div#front-panel {
    background:white;
    z-index:1;
    height: 100%;
    text-align: center;
    margin-bottom: 300px;
}


div#back-panel {
    background:blue;
    height: 100%;
    position: fixed;
    top:0px;
    width: 100%;
    z-index:-1;
}

div#back-panel #widgets {
    position: absolute;
    bottom: 0;
    left: 0;
}

div#front-panel h1 {
    padding-top: 20%;
}
